@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(44, 44, 44);
  border-color: #209cff;
  display: flex;
  padding-top: 5rem;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

.input{
  margin-top: 150px;
  border-radius: 20px;
}

.btn{
  border-radius: 20px;
}

.seconsBtn{
  margin-right: 20px;
  border-radius: 20px;
}

.row, .secondRow, .thirdRow {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.col-header {
  width: 150px;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  padding: 0.8rem 1rem;
  color: #fff;
}

.item, .newitem {
  width: 150px;
  height: 66px;
  border: 1px solid rgb(165, 148, 148);
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  background: #ddbddd;
  padding: 0.8rem 1rem;
  color: #2b2a2a;
  text-align: center;
  cursor: grab;
  word-break: break-all;
  padding-top:0 ;
}

.item:active {
  cursor: grabbing;
}

.placeholder, .placeholderInFunc {
  width: 150px;
  height: 66px;
}

.start {
  background: linear-gradient(90deg, #ff85e4 0%, #229efd 179.25%);
}

.progress {
  background: linear-gradient(90deg, #209cff 0%, #68e0cf 100%);
}

.done {
  background: linear-gradient(90deg, #5cf092 0%, #8fd3f4 100%);
}

.hold, .holdInFunc{
  background-color: grey;
  color: rgba(253, 237, 237, 0.973);
  box-shadow: none;
}

.hide, .hideInFunc {
  display: none;
}

.hovered, .hoveredInFunc{
  background-color: dimgray;
  border-radius: 20px;
}

.header{
  text-align: center;
  color: aliceblue;
}